@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayoutPartial.cshtml";
}

<h3>Forgot Password Confirmation.</h3>
<p>Please check your email to reset your password.</p>