@model QuanLyCanTeen.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayoutPartial.cshtml";
}

<h3>Forgot your password?</h3>
<p>Enter your email.</p>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input class="form-control" type="text" name="Email" placeholder="E-mail Address" required>
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">Email Link</button>
    </div>
}


